:root{
    --bg-black-900: #f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
    --skin-color: #ec1839;
   
  }
  body{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
    overflow-y: auto;
  }
  *
  {
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: border-box; 
  
    
  }

  .html{
    height: 100%;
    margin: auto;
    
    width: 960px;
    overflow-y: auto;
  }
  ::before, ::after{
    box-sizing: border-box;
  }
  .main-bod{
    
    
  }
  .home-section{
    background: var(--bg-black-900);
    min-height: 98vh;
    display: block;
    position:relative;
    left: 0;
    top: 0;
    right: 0;
    z-index: 0;
    opacity: 1;
  }
  .top{
    display: flex;
  }
 
  .navigation{
    display: flex;
  }
  
  
  
  .my-name{
    display: flex;
    margin-top: 210px;
    margin-left: 50px;
  }
  .my-name h2{
    margin-left: 10px;
  }
  .myname h1, h2{
    color: #59a1cf;
    font-family: 'Roboto Mono', monospace;
  }
  .my-name, h1 h2{
    font-size: 20px;
  }
  .my-name h1{
    color: #6c7e80;
    font-family: 'Roboto Mono', monospace;
  }
  .main-container{
    overflow: auto;
    padding-left: 0;
    height: 97vh;
    
  }
 .name{
    font-size: 50px;
 }

  .intro, p{
    color: #424b4d;
    font-size: 17px;
  }
  .intro{
    margin-left: 50px;
    margin-top: 10px;
  }
  .intro .text{
    position: relative;
    color: #59a1cf;
    font-size: 60px;
    font-weight: 600;
    
  }
  .intro .text.first-text{
    color: #6c7e80;
  }
  .skills{
  position: relative;
    color: #c23efa;
    font-size: 40px;
    font-weight: 600;
    /* padding-left: 50px; */
    padding-top: 10px;
    font-family: 'Roboto Mono', monospace;
  
  }
  .frontend{
    /* padding-left: 40px; */
    font-size: 30px;
  }
  .frontend span{
    /* padding-left: 10px; */
    font-family: 'Roboto Mono', monospace;
  }
  .first-text{
    font-family: 'Roboto Mono', monospace;
  }
  .second-text{
    margin-left: 5px;
     
  }
  /* .text.second-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #f2f2fc;
    border-left: 2px solid #4070F4;
    animation: animate 4s steps(12) infinite;
  } */
  /* @keyframes animate{
    40%, 60%{
      left: 105%;
    }
    100%{
      left: 0%;
    }
  } */
  .intro, p{
    font-size: 14px;
    font-family: 'Roboto Mono', monospace;
  }
  
  .contact{
    display: inherit;
  }
  .fa-brands:hover {
    opacity: 0.7;
    cursor: pointer;
    
  }
  .fa-brands{
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  .fa-linkedin{
    margin-left: 50px;
    margin-top: 10px;
    background: #007bb5;
   color: white;
  }
  
  .Nav{
    background-color: white;
    font-size: 40px;
  }

  .Nav ul{
    padding-left: 80%;
    
  }
  
  
  .Nav ul li{
    display:inline;
    list-style-type: none;
    padding-left: 20%;
    
   
  }

  .little-intro{
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    width: 65%;
  }
  .Air-intro{
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    /* padding-left: 51px; */
    font-size: 20px;
  }
  .Projects{
    padding-top: 20px;
    width: 65%;
    padding-left: 50px;
  }
  
  .Project-title{
    font-size: 60px;
    font-family: 'Roboto Mono', monospace;
    /* padding-left: 50px; */
    color: #59a1cf;
    font-weight: 600;
  }
  .Projects p{
    padding-top: 20px;

  }
  .Explanation-paragraph{
    /* padding-left: 50px; */
    color: black;
    word-spacing: 4px;
    font-size: 30px;
}
  .Braketime{
size: 40px;
  }
  .technology{
    /* padding-left: 40px; */
    padding-bottom: 50px;
    font-size: 30px;
  }
  .technology span{
    /* padding-left: 10px; */
    font-family: 'Roboto Mono', monospace;
    
  }
  .skills, .frontend, .technology{
    padding-left: 50px;
  }
  .myimage{
    /* height:90%; */
    width: 25%;
    padding-left: 0%;
   overflow: auto;
   border-radius: 90%;
   margin-left: 50%;
   overflow: auto;
    
    /* padding-top: 20%; */
  }
  .bold{
    font-weight: 900;
    color: #59a1cf;
    font-size: 40px;
  }
  .breaktime{
   
   height: 300px;
    width: 300px;
    background: var(--bg-black-900);
    mix-blend-mode: multiply;
   
    
  }
  .linebreak::after{
    content: "\a";
    white-space: pre;
  }
  .bold-black{
    color: black;
    font-weight: bold;
    font-size: 40px;
  }
  .wildlife, .airbnb-img{

height: 300;
width: 300px;
    background: var(--bg-black-900);
    mix-blend-mode: multiply;
  }
  footer{

    font-size: 40px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    background-color: transparent;
  }