:root{
    --bg-black-900: #f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
    --skin-color: #ec1839;
   
   
  }
  body{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
    overflow-y: auto;
   
  }
  *
  {
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: border-box; 
    
  }

 
  ::before, ::after{
    box-sizing: border-box;
  }
  .main-bod{
    
     
  }
  .home-section{
    
    min-height: 98vh;
    display: block;
    position:relative;
    left: 0;
    top: 0;
    right: 0;
    z-index: 0;
    opacity: 1;
  }
  .top{
    display: flex;
  }
 
  .navigation{
    display: flex;
  }
  
  
  
  .my-name{
    display: flex;
    margin-top: 100px;
    margin-left: 50px;
  }
  .my-name h2{
    margin-left: 10px;
  }
  .myname h1, h2{
    color: #59a1cf;
    font-family: 'Roboto Mono', monospace;
  }
  .my-name, h1 h2{
    font-size: 20px;
  }
  .my-name h1{
    color: #6c7e80;
   
    font-family: 'Roboto Mono', monospace;
  }
  .main-container{
    overflow: auto;
    padding-left: 0;
    height: 96.7vh;
    background: var(--bg-black-900);
   
  }
 .name{
    font-size: 50px;
 }

  .intro, p{
    color: #424b4d;
    font-size: 17px;
  }
  .intro{
    margin-left: 50px;
    margin-top: 10px;
  }
  .intro .text{
    position: relative;
    color: #59a1cf;
    font-size: 60px;
    font-weight: 600;
    
  }
  .intro .text.first-text{
    color: #6c7e80;
  }
  .skills{
  position: relative;
    color: #c23efa;
    font-size: 40px;
    font-weight: 600;
    /* padding-left: 50px; */
    padding-top: 10px;
    font-family: 'Roboto Mono', monospace;
  
  }
  .frontend{
    /* padding-left: 40px; */
    font-size: 30px;
  }
  .frontend span{
   
    font-family: 'Roboto Mono', monospace;
  }
  .first-text{
    font-family: 'Roboto Mono', monospace;
  }
  .second-text{
    margin-left: 5px;
     
  }
 
  .intro, p{
    font-size: 14px;
    font-family: 'Roboto Mono', monospace;
  }
  
  .contact{
    display: inherit;
  }
  .fa-brands:hover {
    opacity: 0.7;
    cursor: pointer;
    
  }
  .fa-brands{
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  .fa-linkedin{
    margin-left: 50px;
    margin-top: 10px;
    background: #007bb5;
   color: white;
  }
  
  .Nav{
    background-color: white;
    font-size: 40px;
  }

  .Nav {
    padding-left: 20%;
    
  }
  
  
  .Nav ul li{
    /* display:inline; */
    list-style-type: none;
    padding-left: 20%;
    
   
  }

  .little-intro{
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    width: 65%;
  }
  .Air-intro{
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    /* padding-left: 51px; */
    font-size: 20px;
    /* display: flex; */
  }
  .GAB-intro{
    display: flex;
  }
  .current{
    font-weight: 900;
    color:blue;
    font-size: 40px;
    padding-left: 20px;;
  }
  .Projects{
    padding-top: 20px;
    width: 65%;
    padding-left: 50px;
    background: var(--bg-black-900);
    /* background: white; */
  }
  
  .Project-title{
    font-size: 60px;
    font-family: 'Roboto Mono', monospace;
    /* padding-left: 50px; */
    color: #59a1cf;
    font-weight: 600;
  }
  .Projects p{
    padding-top: 20px;

  }
  .Explanation-paragraph{
    /* padding-left: 50px; */
    color: black;
    word-spacing: 4px;
    font-size: 30px;
}
  .Braketime{
size: 40px;
  }
  .technology{
    /* padding-left: 40px; */
    padding-bottom: 0px;
    font-size: 30px;
  }
  .technology span{
    /* padding-left: 10px; */
    font-family: 'Roboto Mono', monospace;
    
  }
  .skills, .frontend, .technology, .technology-1{
    padding-left: 50px;
  }
  .myimage{
    /* height:90%; */
    width: 25%;
    padding-left: 0%;
   border-radius: 90%;
   margin-left: 50%;
   overflow: auto;
    
    /* padding-top: 20%; */
  }
  .bold{
    font-weight: 900;
    color: #59a1cf;
    font-size: 40px;
  }
  .bold-current{
    font-weight: 900;
    color: green;
    font-size: 40px;
  }
  
  .linebreak::after{
    content: "\a";
    white-space: pre;
  }
  .bold-black{
    color: black;
    font-weight: bold;
    font-size: 40px;
  }
  .wildlife, .airbnb-img, .breaktime{
   
    height: 300px;
    width: 300px;
    background: var(--bg-black-900);
    background: white;
    mix-blend-mode: multiply;
    
  }
  
  footer{

    font-size: 40px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    background-color: white;
  }
  .main-content{
    background: var(--bg-black-900);
  }
  .portfolio{
    padding-top: 20px;
    padding-bottom: -40px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 60px;
    color: black;
  }
  .more-proj{
  padding-top: 40px;
  font-size: 30px;
  padding-bottom: 40px;
  color: black;
  font-family: 'Roboto Mono', monospace;

  }
  .technology-1 span{
    /* padding-left: 10px; */
    font-family: 'Roboto Mono', monospace;
    
  }
  .technology-1{

    padding-bottom: 50px;
    font-size: 30px;
  }
  .Movie-Rec{
    display: inline-block;
  }